# clangd 19
---
CompileFlags:
  CompilationDatabase: ./
Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  MissingIncludes: None
  UnusedIncludes: Strict
---
If:
  PathMatch: src/main.hpp
Diagnostics:
  Suppress:
    - unused-includes
...
